{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--<h1>Add Books</h1>-->
<!--<form method="POST" enctype="multipart/form-data">-->
<!--    {% csrf_token %}-->
<!--<div class="mb-3">-->
<!--  <label  class="form-label">Name</label>-->
<!--  <input type="text" class="form-control" name="n"  placeholder="Enter Name">-->
<!--</div>-->
<!--    <div class="mb-3">-->
<!--  <label  class="form-label">Desc</label>-->
<!--  <input type="text" class="form-control"name="d"  placeholder="Enter Desc">-->
<!--</div>-->
<!--    <div class="mb-3">-->
<!--  <label  class="form-label">Years</label>-->
<!--  <input type="number" class="form-control"name="y"  placeholder="Enter Years">-->
<!--</div>-->

<!--    <div class="mb-3">-->
<!--  <label  class="form-label">Image</label>-->
<!--  <input type="file" class="form-control"name="i"  placeholder="Enter Image">-->
<!--</div>-->


<!--<div class="mb-3">-->
<!--  <input type="submit" class="btn btn-primary">-->
<!--</div>-->
<!--    </form>-->
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <input type="submit">
</form>
{% endblock %}